.code-box
  color:#abb2bf
.code-box pre
  display:block
  width:100%
  background:#282c34
  margin-bottom:1rem
  line-height:1.45
  font-size:85%
  color:#abb2bf
.code-box code
  padding:1rem 
  line-height:1.6rem
.code-box pre,.code-box code
  word-break: break-all
  word-wrap: break-word
  white-space: pre-wrap
  font-family: Roboto Mono,Monaco,courier,monospace;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
.code-box code
  background-color: rgba(0,0,0,.12);
  padding:.2rem .4rem
  font-size:85%
  margin:0
.code-box pre>code
  display:block
  background-color: transparent
  padding:1rem
.code-box p
  line-height:1.8rem
  margin-bottom:1rem
.code-box h1,.code-box h2,.code-box h3,.code-box h4,.code-box h5,.code-box h6
  margin: 1.5rem 0
  padding-left: 0
  line-height: 1.8rem
  font-weight: 700
  text-indent: 0
.code-box ul,.code-box ol
  padding-left: 2rem
  margin-bottom: 1rem
.code-box ul>li,.code-box ol>li
  line-height: 1.8rem
  padding: .5rem
  list-style-type: disc
.code-box img
  max-width: 100%
  margin: .5rem auto
  display: block
  text-align: center
  border-radius: 4px
  transition: all .25s
  opacity: .9
.code-box blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}